html {
  background-color: #E0E0E0;
}

h1 {
    font-size: 4vw;
}
h2 {
	font-size: 3vw;
}
h3 {
	font-size: 2.34vw;
}
h4 {
	font-size: 2vw;
}
h5 {
	font-size: 1.64vw;
}
h6 {
	font-size: 1.34vw;
}

button {
     width: 100vw;
     height: 4vw;
}
input {
     width: 100vw;
     height: 4vw;
}
input[type="text"]
{
    font-size: 2.34vw;
}
input[type="button"]
{
    font-size: 2.34vw;
}
